html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: rgb(227, 94, 107);
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #28a745;
    color: #fff;
}

.msg-error {
    background-color: rgb(227, 94, 107);
    color: #fff;
}